
     @import url('https://fonts.googleapis.com/css?specimen=Cormorant+Garamond&display=swap');
     *{
        flex-wrap: wrap;
        flex-direction: row;
     }
   body{ 
    color: rgb(21, 29, 26);
    background-size: 1900px;
   background-image: linear-gradient(
    to bottom,
    #534d8580,
    rgba(55, 37, 158, 0.5)
  ), url("Backgroundimg.jpg")
  
}

h1{
    text-align: center;
    size: "300";
    color: rgb(254, 254, 255);
    font-size: 5em;
    line-height: 120%;
    font-weight: 900;
    border: 10px rgb(2, 1, 1) solid;
    font-weight:bold;
    
    
}

h2{
    :center ;
    font-size:large;
    color: rgb(219, 236, 225);
}
h3{
    font-size:larger;
    color: rgb(239, 245, 245);
    line-height: 2,5em;
    font-weight: 800;
}
h4{
    color: aliceblue;
}

table{
    width:  1000px;
align-content: center;
color: aliceblue;
}

.img{ 
    display: flex;
    justify-content: center;
    border: 15px red;
}
p{color: aliceblue;}

    
ul{
    color: whitesmoke;
}
fieldset{
    color: aliceblue;
}
h
   
h1,h2,h3,h4,table{ 
    font-family:"Cormorant+Garamond", sans-serif ;
    color: aliceblue;
    text-decoration: 8px 8px 1px black;   
}





